* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    background: #172b4d !important;
    overflow: hidden;
}

/* navbar */
nav {
    display: flex;
    height: 8vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navlogo img {
    padding: 2px 10px;
    width: 10rem;
}

nav ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff !important;
    text-decoration: none;
    padding: 3px 5px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #172b4d !important;
    background: #ffffff !important;
}

/* layout page div.main tag */
.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* footer */
footer {
    height: 5vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff !important;
    text-align: center;
}

/* login form */
.login_form {
    width: 35vw;
    height: fit-content;
    font-size: larger;
    background-color: #ffffff !important;
    border-radius: 4px;
    color: #172b4d;
    padding: 2rem;
    margin: 6rem;
}

/* login page logo */
.logo img {
    width: 20vw;
    height: auto;
}

/* button-login/send link/ reset password */
.login_form button {
    width: 12vw;
    height: fit-content;
    border-radius: 4px;
    background-color: #172b4d;
    color: #ffffff;
    border: none;
}

/* Forgot your password? from login page */
.forgot-password {
    color: #172b4d !important;
    padding: 1rem 0 0 0;
}

/* heading display box */
.head-over-display {
    font-size: x-large;
    color: #344563;
    background-color: #d9d9d9;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
    padding: 4px 16px;
    border-radius: 4px;
    box-shadow: 0 3px 7px rgb(0 0 0 / 0.25);
    position: relative;
}

/* hide scrollbar */
section::-webkit-scrollbar {
    display: none;
}

/* dashboard view page */
.dashboard {
    color: #344563;
    background-color: #d9d9d9;
    border-radius: 4px;
    width: 80vw;
    height: 82vh;
    margin-top: -1.25rem;
    padding: 2.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* worklog view-dashboard */
.work_view {
    margin-left: 5px;
    text-align: left;
}

.work_view h2 {
    text-decoration: underline black 1px;
}

section.dashboard_scroll {
    height: 68vh;
    overflow-y: auto;
}

.singleWorklog {
    color: #172b4d;
    background-color: #f2f2f2;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    padding: 5px 10px;
    margin: 5px 0;
    border-radius: 0.25rem;
}

p.work {
    padding: 0;
    margin: 0;
}

p#underline {
    text-decoration: underline #172b4d 1px;
}

p#right {
    text-align: right;
}

/* bar-graph */
#myChart {
    padding-top: 2rem;
    max-width: 35vw;
    margin: 0 auto;
}

/* worklog form */
.worklog {
    color: #344563;
    background-color: #d9d9d9;
    border-radius: 4px;
    text-align: left;
    width: 70vw;
    height: 82vh;
    margin-top: -1.25rem;
    padding: 1.5rem 2rem;
}

section.worklog_scroll {
    height: 75vh;
    overflow-y: auto;
    padding: 10px;
}

#workFill {
    color: #172b4d;
    background-color: #f2f2f2;
}

.timelog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

div.time {
    width: 85%;
}

#startTime,
#endTime {
    color: #172b4d;
    background-color: #f2f2f2;
}

button.time_calculate {
    border: none;
    padding: 3px 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    background: #172b4d;
    color: #ffffff;
}

button.time_calculate:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

#totalTime {
    color: #172b4d;
    background-color: #f2f2f2;
    width: 42.5%;
}

#checkbox {
    border-color: #172b4d;
    background-color: #f2f2f2;
}

#checkbox:hover {
    background-color: #ffffff;
}

#checkbox:checked {
    background-color: #172b4d;
}

div.submit_button {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.submit_work {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 20px;
    background: #172b4d;
    color: #ffffff;
}

button.submit_work:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

/* profile page */
.profile_container {
    width: 60vw;
    height: 75vh;
    display: flex;
    color: #344563;
    background-color: #d9d9d9;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    border-radius: 4px;
}

.profile_pic {
    position: relative;
    top: -5.5rem;
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    background: rgba(0 0 0 / 0.25);
    box-shadow: 0px 3px 7px rgba(0 0 0 / 0.25);
}

.title1 {
    margin-top: -5rem;
}

.title2 {
    margin-top: -1rem;
}

.subdiv {
    width: 90%;
    height: auto;
    color: #172b4d;
    background-color: #f2f2f2;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
}

.subdiv ul {
    color: #172b4d;
    list-style-type: none;
}

.leftDiv {
    text-align: left;
    margin: 10px 0 10px 30px;
    padding: 10px 0 10px 30px;
}

.rightDiv {
    text-align: left;
    margin: 10px 30px 10px 0;
    padding: 10px 30px 10px 0;
}

button.contractHistory {
    border: none;
    padding: 10px;
    margin-top: 2vh;
    border-radius: 4px;
    background: #172b4d;
    color: #ffffff;
}

button.contractHistory:hover {
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

/* admin dashboard */
.adminDash {
    color: #344563;
    background-color: #d9d9d9;
    border-radius: 4px;
    width: 80vw;
    height: 82vh;
    margin-top: -1.25rem;
    padding: 2.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* box-display layout */
.adminDash a,
.viewDepartments a {
    font-size: larger;
    font-weight: bold;
    margin: auto;
    text-decoration: none;
    height: 30vh;
    width: 20vw;
    color: #fff;
    border-radius: 4px;
}

.adminDash a:active,
.adminDash a:hover,
.viewDepartments a:active,
.viewDepartments a:hover {
    color: #fff !important;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

/* admin dashboard box colors */
a.a1 {
    background-color: #c35c29;
}

a.a2 {
    background-color: #72438b;
}

a.a3 {
    background-color: #7cac52;
}

a.a4 {
    background-color: #b44476;
}

a.a5 {
    background-color: #2686a3;
}

a.a6 {
    background-color: #192631;
}

/* Departments view from admin dashboard */
.viewDepartments {
    color: #344563;
    background-color: #d9d9d9;
    border-radius: 4px;
    width: 70vw;
    height: 82vh;
    margin-top: -1.25rem;
    padding: 2.5rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

/* departments box color */
a.one {
    background-color: #2686a3;
}

a.two {
    background-color: #72438b;
}

a.three {
    background-color: #7cac52;
}

a.four {
    background-color: #b44476;
}
